@import url("https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css");
@font-face {
    font-family: 'Conv_STC-Bold';
    src: url("fonts/STC-Bold.eot");
    /* for non-IE */
    src: local("?"), url("fonts/STC-Bold.woff") format("woff"), url("fonts/STC-Bold.ttf") format("truetype"), url("fonts/STC-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_STC-Italic';
    src: url("fonts/STC-Italic.eot");
    src: local("?"), url("fonts/STC-Italic.woff") format("woff"), url("fonts/STC-Italic.ttf") format("truetype"), url("fonts/STC-Italic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_STC-Light';
    src: url("fonts/STC-Light.eot");
    src: local("?"), url("fonts/STC-Light.woff") format("woff"), url("fonts/STC-Light.ttf") format("truetype"), url("fonts/STC-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_STC-Regular';
    src: url("fonts/STC-Regular.eot");
    src: local("?"), url("fonts/STC-Regular.woff") format("woff"), url("fonts/STC-Regular.ttf") format("truetype"), url("fonts/STC-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

body{font-family: "Conv_STC-Regular",arial, sans-serif !important}
a{font-family: "Conv_STC-Regular",arial, sans-serif !important;color:#555555 !important;}
a:hover{color:#222222 !important;}
.container{width:980px;margin:0 auto;display: table;border-collapse: separate;border-spacing: 10px;}
.announcement_container, .main_container {display:table-cell;background:#fff;padding:10px;vertical-align:top;}
.announcement_container{width:30%;}
.main_container {width:70%;position:relative;}
.transparent_bg{background:transparent;padding:0;}
.dashboard_row{height:110px;margin-bottom:15px;transition: height ease 300ms;}
.dashboard_items{display: inline-block;width: 31%;margin: 0 5px 15px;vertical-align: top;height: 110px;}
.dashboard_items .dashboard_icon {display: block;background: #f2f2f2;padding:10px;height: 90px;box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.5);transition:all ease 300ms;cursor: pointer;text-align: center;text-decoration: none;}
.dashboard_items .dashboard_icon i{display: block;font-size: 45px;color:#8d569a;}
.dashboard_items .dashboard_icon span{display: block;text-align: center;font-size: 17px;color: #712c81;margin: 5px 0;font-family: 'stc-light',arial,sans-serif;}
.dashboard_items .dashboard_icon:hover{background:#e3d5e6;}
.dashboard_items.active .dashboard_icon{background:#712c81;}
.dashboard_items.active .dashboard_icon i , .dashboard_items.active .dashboard_icon span {color:#fff;}

.dashboard_sub {background: #f2f2f2;position: absolute;width: 95%;margin-top: 12px;display: none;left: 15px;}
.dashboard_sub ul{
    padding: 10px;
    margin: 10px;
    list-style: none;
    position: relative;
}
.dashboard_sub ul li{
    display: inline-block;
    width: 24.3%;
    position: relative;
    vertical-align: top;
}
.dashboard_sub ul li a{
    display: block;
    height: 100%;
    background: transparent;
    padding: 10px;
    margin: 0 5px 15px;
    color:#e16595;
    min-height: 80px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    border: solid 1px #8D569A;
    box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.5);
    transition: all ease 300ms;
    border-radius: 4px;
}
.dashboard_sub ul li a:hover{background: #fceed4;}
.dashboard_sub ul li a i{
    display: block;
    color: #712C81;
    font-size: 35px;
    margin-bottom: 5px;
}
.iconBlock{box-shadow: 0px 1px 4px -1px rgba(173,171,173,1);border-radius:5px!important;width: 200px;-webkit-box-shadow: 0px 1px 4px -1px rgba(173,171,173,1);background-color: #EAEAEA;margin-right:20px;min-height: 58px;color:#ffffff;margin-left:20px;border-width:1px;border:1px solid;-moz-box-shadow:0px 6px 15px -1px rgba(173,171,173,1);position: relative;border: none;height: auto;margin-bottom: 20px;}
.iconBlock div.x1a a.xh7{
    background: #E2E2E2;
    display: block;
    width: 50px;
    height: 100%;
    position: absolute;
    left: 0;
}
.iconBlock:hover div.x1a a.xh7, .iconBlock.active div.x1a a.xh7{background: #DD4381;border-radius: 5px 0 0 5px;}
.iconBlock div.iconText{
    position: absolute;
    float: left;
    left: 55px;
    margin-right: 5px;
    top: 16px;
    text-align: left;
}
.iconBlock img{display:none !important; }
.iconBlock a.xh7:before{
    content:'';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #501F6C;
    font-size: 29px;
    display: block;
    margin-bottom: 5px;
    margin-top: 12px;
}
.iconDiv div:nth-of-type(3) table.x1a td:nth-of-type(2) .iconBlock a.xh7:before{content:'\f0b1'}
.iconDiv div:nth-of-type(3) table.x1a td:nth-of-type(3) .iconBlock a.xh7:before{content:'\f12e'}
.iconDiv div:nth-of-type(3) table.x1a td:nth-of-type(4) .iconBlock a.xh7:before{content:'\f0c0'}
.iconDiv div:nth-of-type(3) table.x1a td:nth-of-type(5) .iconBlock a.xh7:before{content:'\f007'}

.iconDiv div:nth-of-type(6) table.x1a td:nth-of-type(2) .iconBlock a.xh7:before, .iconDiv div:nth-of-type(5) table.x1a td:nth-of-type(2) .iconBlock a.xh7:before{content:'\f0e4'}
.iconDiv div:nth-of-type(6) table.x1a td:nth-of-type(3)  .iconBlock a.xh7:before, .iconDiv div:nth-of-type(5) table.x1a td:nth-of-type(3) .iconBlock a.xh7:before{content:'\f085'}
.iconDiv div:nth-of-type(6) table.x1a td:nth-of-type(4)  .iconBlock a.xh7:before, .iconDiv div:nth-of-type(5) table.x1a td:nth-of-type(4) .iconBlock a.xh7:before{content:'\f0e8'}

.iconDiv div:nth-of-type(3) div:nth-of-type(2) .iconBlock a.xh7:before{content:'\f0b1'}
.iconDiv div:nth-of-type(3) div:nth-of-type(3) .iconBlock a.xh7:before{content:'\f12e'}
.iconDiv div:nth-of-type(3) div:nth-of-type(4) .iconBlock a.xh7:before{content:'\f0c0'}
.iconDiv div:nth-of-type(3) div:nth-of-type(5) .iconBlock a.xh7:before{content:'\f007'}

.iconDiv div:nth-of-type(6) div:nth-of-type(2) .iconBlock a.xh7:before, .iconDiv div:nth-of-type(5)  div:nth-of-type(2) .iconBlock a.xh7:before{content:'\f0e4'}
.iconDiv div:nth-of-type(6) div:nth-of-type(3)  .iconBlock a.xh7:before, .iconDiv div:nth-of-type(5) div:nth-of-type(3) .iconBlock a.xh7:before{content:'\f085'}
.iconDiv div:nth-of-type(6) div:nth-of-type(4)  .iconBlock a.xh7:before, .iconDiv div:nth-of-type(5) div:nth-of-type(4) .iconBlock a.xh7:before{content:'\f0e8'}


.iconBlock:hover, .iconBlock.active{background:#712c81 !important; }
.iconBlock:hover a, .iconBlock:hover a.xh7:before, .iconBlock.active a, .iconBlock.active a.xh7:before{color: #fff !important;}
.iconBlock.active:after{content:'';border: solid 10px transparent;border-left-color: #712C81;position: absolute;right: -19px;top: 30%;}

.subIconBlock{margin: -310px 0 0px 235px;width: 70%;position: absolute;}

.mainTable2{
    background-color: transparent !important;
    border-collapse: separate;
    border-spacing: 10px;
}
.mainTable2 td:nth-of-type(1), .mainTable2 td:nth-of-type(3), .mainTable2 td:nth-of-type(1) .feeds-panel, .mainTable2 td:nth-of-type(1) .x2n6{background:#fff !important;position: relative;}
.iconRow {width:100%;}
.mainTable2 td:nth-of-type(1){width:200px;background:transparent!important;}
.subIconBlock  table.x1a  tr td:nth-of-type(1){width:auto;}

:lang(ar) .subIconBlock {
    margin: -310px 227px 0px 243px;
    width: 70%;
    position: absolute;
}

body{background-attachment: inherit!important;}

.blockL2{width: 125px;padding: 0 5px;
    box-sizing: border-box;min-width:100%;}

.blockL2:hover{background-color:#DD4381;border-radius: 5px;-webkit-box-shadow: 2px 4px 28px -9px rgba(79,47,204,0.65);
    -moz-box-shadow: 2px 4px 28px -9px rgba(79,47,204,0.65);
    box-shadow: 2px 4px 28px -9px rgba(79,47,204,0.65);}



.blockL2 a{line-height: 15px;}
.blockL2:hover a, .blockL2 a:hover{color:#fff !important;}


:lang(ar) .iconBlock div.iconText{text-align:right}
.subIconBlock .x1a table {width:100%;}
.subIconBlock .x1a table td {width:25%!important;padding:0 10px;}



.feeds-front-top-panel img {border:solid 1px #666!important;}

.feeds-panel, .x2n6 {

    padding:0px!important;
    border-radius: 5px;
    min-height: 505px;
    width:300px!important;
}
.feeds-front-top-panel, .x2n7
{
    border-radius: 0!important;
    border: 0;
    background-color: #E1E1E1; }

.announcements-panel, .x2hk{width:311px!important;}

.feeds-front-top-panel img {border:solid 1px #666!important;}

.xi0 table.x1a td:nth-of-type(1){display:none;}
.xi0 table.x1a{width: 100%;}
.xi0 table.x1a td{border-collapse:collapse;}
.xi0 table.x1a:hover{width: 100%;background-color:#F8F8F8;}
.xi0 table.x1a a:hover{color:# F34B93!important;}
.UnifiedNavigatorItem, .xi5{margin-top:5px;}

/*Changing the header icons */
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de  a{display:block;text-decoration: none !important;opacity:0.8}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de  a:hover{opacity:1}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de  a img{display:none;}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de  a:before{
    content:'';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #6D277D;
    font-size: 24px;
    display: block;
    margin: 12px;
}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de:nth-of-type(2) div a:before{content: '\f015';}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de:nth-of-type(3) div a:before{content: '\f006';}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de:nth-of-type(4) div a:before{content: '\f11d';}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de:nth-of-type(5) div a:before{content: '\f0a2';}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de:nth-of-type(6) a:before{content: '\f29a';}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de:nth-of-type(7) div a:before{content: '\f29c';}



:lang(ar) .AFBrandingBarLogo, .xhh{background-image:url('images/STC-Logo.png') !important;max-width: 250px !important;width:235px !important;height:60px !important;}


:lang(ar) .AFBrandingBarLogo, .xhh{background-image:url('images/STC-Logo_igate_Ar.png') !important;max-width: 250px !important;width:235px !important;height:60px !important;}


/*---------------------------------------------------------------*/

.mainHeaderLinks{width:420px;position: relative;z-index: 20000;margin-top: 18px;}
.mainHeaderLinks nav li:not(:first-child) a {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mainHeaderLinks nav ul {
    list-style: none;
    float: right;
    display: block;
    padding: 0;
    margin: 0;
}

.mainHeaderLinks nav ul li {
    float: right;
    padding: 1px 8px 0 9px;
    font-size: 18px;
}

:lang(ar) div#ENLinks {
    display:none;

}
:lang(ar).mainHeaderLinks{   margin-top: 15px; margin-right: 50px;}

:lang(en) div#ArLinks {
    display:none;

}

.AFBrandingBar, .x1de {padding-left: 0px!important; }

