
@import url("font-awesome.css");
@font-face {
    font-family: 'Conv_STC-Bold';
    src: url("fonts/STC-Bold.eot");
    /* for non-IE */
    src: local("?"), url("fonts/STC-Bold.woff") format("woff"), url("fonts/STC-Bold.ttf") format("truetype"), url("fonts/STC-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_STC-Italic';
    src: url("fonts/STC-Italic.eot");
    src: local("?"), url("fonts/STC-Italic.woff") format("woff"), url("fonts/STC-Italic.ttf") format("truetype"), url("fonts/STC-Italic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_STC-Light';
    src: url("fonts/STC-Light.eot");
    src: local("?"), url("fonts/STC-Light.woff") format("woff"), url("fonts/STC-Light.ttf") format("truetype"), url("fonts/STC-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_STC-Regular';
    src: url("fonts/STC-Regular.eot");
    src: local("?"), url("fonts/STC-Regular.woff") format("woff"), url("fonts/STC-Regular.ttf") format("truetype"), url("fonts/STC-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
.xdy, .x17i, .xp8, .xp9, .xpa{font-family: "Conv_STC-Regular",arial, sans-serif !important}
body{font-family: "Conv_STC-Regular",arial, sans-serif !important}
tr, td, div, h1, h2, h3, h4, table{font-family: "Conv_STC-Regular",arial, sans-serif !important;}
a{font-family: "Conv_STC-Regular",arial, sans-serif !important;color:#555555;}
a:hover{color:#222222 !important;}
.container{width:980px;margin:0 auto;display: table;border-collapse: separate;border-spacing: 10px;}
.announcement_container, .main_container {display:table-cell;background:#fff;padding:10px;vertical-align:top;}
.announcement_container{width:30%;}
.main_container {width:70%;position:relative;}
.transparent_bg{background:transparent;padding:0;}
.dashboard_row{height:110px;margin-bottom:15px;transition: height ease 300ms;}
.dashboard_items{display: inline-block;width: 31%;margin: 0 5px 15px;vertical-align: top;height: 110px;}
.dashboard_items .dashboard_icon {display: block;background: #f2f2f2;padding:10px;height: 90px;box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.5);transition:all ease 300ms;cursor: pointer;text-align: center;text-decoration: none;}
.dashboard_items .dashboard_icon i{display: block;font-size: 45px;color:#8d569a;}
.dashboard_items .dashboard_icon span{display: block;text-align: center;font-size: 17px;color: #712c81;margin: 5px 0;font-family: 'stc-light',arial,sans-serif;}
.dashboard_items .dashboard_icon:hover{background:#e3d5e6;}
.dashboard_items.active .dashboard_icon{background:#712c81;}
.dashboard_items.active .dashboard_icon i , .dashboard_items.active .dashboard_icon span {color:#fff;}

.dashboard_sub {background: #f2f2f2;position: absolute;width: 95%;margin-top: 12px;display: none;left: 15px;}
.dashboard_sub ul{
    padding: 10px;
    margin: 10px;
    list-style: none;
    position: relative;
}
.dashboard_sub ul li{
    display: inline-block;
    width: 24.3%;
    position: relative;
    vertical-align: top;
}
.dashboard_sub ul li a{
    display: block;
    height: 100%;
    background: transparent;
    padding: 10px;
    margin: 0 5px 15px;
    color:#e16595;
    min-height: 80px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    border: solid 1px #8D569A;
    box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.5);
    transition: all ease 300ms;
    border-radius: 4px;
}
.dashboard_sub ul li a:hover{background: #fceed4;}
.dashboard_sub ul li a i{
    display: block;
    color: #712C81;
    font-size: 35px;
    margin-bottom: 5px;
}
.iconBlock{box-shadow: 0px 1px 4px -1px rgba(173,171,173,1);border-radius:5px!important;width: 200px;-webkit-box-shadow: 0px 1px 4px -1px rgba(173,171,173,1);background-color: #EAEAEA;margin-right:20px;min-height: 58px;color:#ffffff;margin-left:20px;border-width:1px;border:1px solid;-moz-box-shadow:0px 6px 15px -1px rgba(173,171,173,1);position: relative;border: none;height: auto;margin-bottom: 20px;}
.iconBlock div.x1a a.xh7{
    background: #E2E2E2;
    display: block;
    width: 50px;
    height: 100%;
    position: absolute;
    left: 0;
}
:lang(ar) .iconBlock div.x1a a.xh7{right:0}
.iconBlock:hover div.x1a a.xh7, .iconBlock.active div.x1a a.xh7{background: #DD4381;border-radius: 5px 0 0 5px;}
.iconBlock div.iconText{
    position: absolute;
    float: left;
    left: 55px;
    margin-right: 5px;
    top: 16px;
    text-align: left;
}
.iconBlock img{display:none !important; }
.iconBlock a.xh7:before{
    content:'';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #501F6C;
    font-size: 29px;
    display: block;
    margin-bottom: 5px;
    margin-top: 12px;
}
.iconDiv div:nth-of-type(3) table.x1a td:nth-of-type(2) .iconBlock a.xh7:before{content:'\f0b1'}
.iconDiv div:nth-of-type(3) table.x1a td:nth-of-type(3) .iconBlock a.xh7:before{content:'\f12e'}
.iconDiv div:nth-of-type(3) table.x1a td:nth-of-type(4) .iconBlock a.xh7:before{content:'\f0c0'}
.iconDiv div:nth-of-type(3) table.x1a td:nth-of-type(5) .iconBlock a.xh7:before{content:'\f007'}

.iconDiv div:nth-of-type(6) table.x1a td:nth-of-type(2) .iconBlock a.xh7:before, .iconDiv div:nth-of-type(5) table.x1a td:nth-of-type(2) .iconBlock a.xh7:before{content:'\f0e4'}
.iconDiv div:nth-of-type(6) table.x1a td:nth-of-type(3)  .iconBlock a.xh7:before, .iconDiv div:nth-of-type(5) table.x1a td:nth-of-type(3) .iconBlock a.xh7:before{content:'\f085'}
.iconDiv div:nth-of-type(6) table.x1a td:nth-of-type(4)  .iconBlock a.xh7:before, .iconDiv div:nth-of-type(5) table.x1a td:nth-of-type(4) .iconBlock a.xh7:before{content:'\f0e8'}

.iconDiv div:nth-of-type(3) div:nth-of-type(2) .iconBlock a.xh7:before{content:'\f0b1'}
.iconDiv div:nth-of-type(3) div:nth-of-type(3) .iconBlock a.xh7:before{content:'\f12e'}
.iconDiv div:nth-of-type(3) div:nth-of-type(4) .iconBlock a.xh7:before{content:'\f0c0'}
.iconDiv div:nth-of-type(3) div:nth-of-type(5) .iconBlock a.xh7:before{content:'\f007'}

.iconDiv div:nth-of-type(6) div:nth-of-type(2) .iconBlock a.xh7:before, .iconDiv div:nth-of-type(5)  div:nth-of-type(2) .iconBlock a.xh7:before{content:'\f0e4'}
.iconDiv div:nth-of-type(6) div:nth-of-type(3)  .iconBlock a.xh7:before, .iconDiv div:nth-of-type(5) div:nth-of-type(3) .iconBlock a.xh7:before{content:'\f085'}
.iconDiv div:nth-of-type(6) div:nth-of-type(4)  .iconBlock a.xh7:before, .iconDiv div:nth-of-type(5) div:nth-of-type(4) .iconBlock a.xh7:before{content:'\f0e8'}


.iconBlock:hover, .iconBlock.active{background:#712c81 !important; }
.iconBlock:hover a, .iconBlock:hover a.xh7:before, .iconBlock.active a, .iconBlock.active a.xh7:before{color: #fff !important;}
.iconBlock.active:after{content:'';/*border: solid 10px transparent;border-left-color: #712C81;position: absolute;right: -19px;top: 30%;*/}

.subIconBlock{margin: -310px 0 0px 235px;width: 70%;position: absolute;}

.mainTable2{
    background-color: transparent !important;
    border-collapse: separate;
    border-spacing: 10px;
}
.mainTable2 td:nth-of-type(1), .mainTable2 td:nth-of-type(3), .mainTable2 td:nth-of-type(1) .feeds-panel, .mainTable2 td:nth-of-type(1) .x2n6{background:#fff !important;position: relative;}
.iconRow {width:100%;}
.mainTable2 td:nth-of-type(1){width:200px;background:transparent!important;}
.subIconBlock  table.x1a  tr td:nth-of-type(1){width:auto;}

:lang(ar) .subIconBlock {
    margin: -310px 227px 0px 243px;
    width: 70%;
    position: absolute;
}

body{background-attachment: inherit!important;}

.blockL2{width: 125px;padding: 0 5px;
    box-sizing: border-box;min-width:100%;}

.blockL2:hover{background-color:#DD4381;border-radius: 5px;-webkit-box-shadow: 2px 4px 28px -9px rgba(79,47,204,0.65);
    -moz-box-shadow: 2px 4px 28px -9px rgba(79,47,204,0.65);
    box-shadow: 2px 4px 28px -9px rgba(79,47,204,0.65);}



.blockL2 a{line-height: 15px;}
.blockL2:hover a, .blockL2 a:hover{color:#fff !important;}


:lang(ar) .iconBlock div.iconText{text-align:right;right: 55px;float: right;left: auto;}
.subIconBlock .x1a table {width:100%;}
.subIconBlock .x1a table td {width:25%!important;padding:0 10px;}



.feeds-front-top-panel img {border:solid 1px #666!important;}

.feeds-panel, .x2n6 {

    padding:0px!important;
    border-radius: 5px;
    min-height: 505px;
    width:300px!important;
}
.feeds-front-top-panel, .x2n7
{
    border-radius: 0!important;
    border: 0;
    background-color: #E1E1E1; }

.announcements-panel, .x2hk{width:311px!important;}

.feeds-front-top-panel img {border:solid 1px #666!important;}

.xi0 table.x1a td:nth-of-type(1){display:none;}
.xi0 table.x1a{width: 100%;}
.xi0 table.x1a td{border-collapse:collapse;}
.xi0 table.x1a:hover{width: 100%;background-color:#F8F8F8;}
.xi0 table.x1a a:hover{color:#F34B93!important;}
.UnifiedNavigatorItem, .xi5{margin-top:5px;}

/*Changing the header icons */
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de  a{display:block;text-decoration: none !important;opacity:0.8}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de  a:hover{opacity:1}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de  a img{display:none;}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de  a:before{
    content:'';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #6D277D;
    font-size: 24px;
    display: block;
    margin: 12px;
}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de:nth-of-type(2) div a{display:none;}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de:nth-of-type(2) div a:before{content: '';}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de:nth-of-type(2) div a:before{}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de:nth-of-type(3) div a:before{content: '\f006';}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de:nth-of-type(4) div a:before{content: '\f11d';}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de:nth-of-type(5) div a:before{content: '\f0a2';}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de:nth-of-type(6) a:before{content: '\f29a';}
div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de:nth-of-type(7) div a:before{content: '\f29c';}
s


:lang(en) .AFBrandingBarLogo, :lang(en) .xhh{background-image:url('images/STC-Logo.png');max-width: 250px !important;width:235px !important;height:60px !important;}


:lang(ar) .AFBrandingBarLogo, :lang(ar) .xhh{
    background-image:url('images/STC-Logo_igate_Ar.png');max-width: 250px !important;width:235px !important;height:60px !important;}

/*---------------------------------------------------------------*/

.mainHeaderLinks{width:420px;position: relative;z-index: 20000;margin-top: 18px;}
.mainHeaderLinks nav li:not(:first-child) a {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mainHeaderLinks nav ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.mainHeaderLinks nav ul li {
    float: right;
    padding: 1px 8px 0 9px;
    font-size: 18px;
    position: relative;
}

:lang(ar) div#ENLinks {
    display:none;

}
:lang(ar).mainHeaderLinks{margin-top: 15px;margin-right: 100px;}

:lang(en) div#ArLinks {
    display:none;

}

.AFBrandingBar, .x1de {padding-left: 0px!important; }




:lang(ar) .dateIssue table.x1a td:nth-of-type(1) {display:none;}

.mainHeaderLinks nav li a {text-decoration:none;}

.x1bs.p_AFStrip .x1bt.p_AFSelected, .x1bs.p_AFStrip .x1bt{font-family: "Conv_STC-Regular",arial, sans-serif !important;font-size:16px;}


.xba, .xm4, HTML BODY .xnj.xni, HTML BODY .x11s.xni, HTML BODY .xis.xni, HTML BODY .x11o.xni, HTML BODY .xxt.xni, HTML BODY .x7j.xni, HTML BODY .x10y.xni, HTML BODY .x11p.xni, HTML BODY .x10v.xni, HTML BODY .x7k.xni, HTML BODY .xhf.xni, HTML BODY .xhn.xni, HTML BODY .xqk.xni, HTML BODY .x1q.xni, HTML BODY .x1r.xni, HTML BODY .x1s.xni, HTML BODY .x11t.xni, HTML BODY .x11u.xni, HTML BODY .x1u.xni, HTML BODY .x1b.xni, HTML BODY .xp7.xni, HTML BODY .x11v.xni, HTML BODY .x11m.xni, HTML BODY .x10x.xni, HTML BODY .x1a.xni, HTML BODY .x19.xni, HTML BODY .x6v.xni, HTML BODY .x11w.xni, HTML BODY .xe0.xni, HTML BODY .x11n.xni, HTML BODY .xo6.xni, HTML BODY .xhg.xni, HTML BODY .x7l.xni, HTML BODY .xn0.xni, HTML BODY .xtp.xni, HTML BODY .x1z.xni, HTML BODY .x6w.xni, HTML BODY .xe3.xni, HTML BODY .x11x.xni, HTML BODY .xll.xni, HTML BODY .x11y.xni, HTML BODY .x11z.xni, HTML BODY .x11s.x11r, HTML BODY .xis.x11r, HTML BODY .x11o.x11r, HTML BODY .xxt.x11r, HTML BODY .x7j.x11r, HTML BODY .x10y.x11r, HTML BODY .x11p.x11r, HTML BODY .x10v.x11r, HTML BODY .x7k.x11r, HTML BODY .xhf.x11r, HTML BODY .xhn.x11r, HTML BODY .xqk.x11r, HTML BODY .x1q.x11r, HTML BODY .x1r.x11r, HTML BODY .x1s.x11r, HTML BODY .x11t.x11r, HTML BODY .x11u.x11r, HTML BODY .x1u.x11r, HTML BODY .x1b.x11r, HTML BODY .xp7.x11r, HTML BODY .x11v.x11r, HTML BODY .x11m.x11r, HTML BODY .x10x.x11r, HTML BODY .x1a.x11r, HTML BODY .x19.x11r, HTML BODY .x6v.x11r, HTML BODY .x11w.x11r, HTML BODY .xe0.x11r, HTML BODY .x11n.x11r, HTML BODY .xo6.x11r, HTML BODY .xhg.x11r, HTML BODY .x7l.x11r, HTML BODY .xn0.x11r, HTML BODY .xtp.x11r, HTML BODY .x1z.x11r, HTML BODY .x6w.x11r, HTML BODY .xe3.x11r, HTML BODY .x11x.x11r, HTML BODY .xll.x11r, HTML BODY .x11y.x11r, HTML BODY .x11z.x11r, .x18t, .x18u, .x18v, .xvn .x1dj, .x1du .x1ep, .x1kf, HTML BODY .x1pv.xni, HTML BODY .x1pv.x11r, HTML BODY .x1sz.xni, HTML BODY .x1sz.x11r, HTML BODY .x1tf.xni, HTML BODY .x1tf.x11r, HTML BODY .x1z0.xni, HTML BODY .x1z1.xni, HTML BODY .x1z2.xni, HTML BODY .x1z3.xni, HTML BODY .x1z0.x11r, HTML BODY .x1z1.x11r, HTML BODY .x1z2.x11r, HTML BODY .x1z3.x11r, HTML BODY .x1zj.xni, HTML BODY .x1zj.x11r, HTML BODY .x210.xni, HTML BODY .xij.xni, HTML BODY .x210.x11r, HTML BODY .xij.x11r, HTML BODY .x21q.xni, HTML BODY .x21r.xni, HTML BODY .x21q.x11r, HTML BODY .x21r.x11r, .x21r, HTML BODY .x23o.xni, HTML BODY .x23p.xni, HTML BODY .x23o.x11r, HTML BODY .x23p.x11r, HTML BODY .x26w.xni, HTML BODY .x26w.x11r, HTML BODY .x26y.xni, HTML BODY .x26y.x11r, HTML BODY .x274.xni, HTML BODY .x274.x11r, HTML BODY .x28u.xni, HTML BODY .x28u.x11r, .xsd > table:first-child {
    width: 100%;
    line-height: 15px;
}

table .x2ob h1.xp8 {

    color: #712c81;
    text-transform: uppercase;
    font-size: 16px;
}

HTML .InfoTileItemV.p_AFSelected, HTML .xkx.p_AFSelected{border-color:#f2f2f2}

HTML .InfoTileItemV.p_AFSelected, HTML .xkx.p_AFSelected{border-color:#f2f2f2}
.InfoTileSelectorV.p_AFSelected, .xkz.p_AFSelected, .InfoTileSelectorH.p_AFSelected, .xl0.p_AFSelected, .InfoTileSelectorV.p_AFSelected .InfoTileSelIcon:hover, .xkz.p_AFSelected .xl1:hover, .InfoTileSelectorH.p_AFSelected .InfoTileSelIcon:hover, .xl0.p_AFSelected .xl1:hover, .InfoTileSelIcon:hover:active, .xl1:hover:active{
    background: #712C81;
}
.AFLinkColor.xhu.x2fv.xhb{color: #DA427F;font-size:20px;margin-right:8px}
.xln table{}
div.xln span.xh6{
    text-transform: uppercase;
    color: #712C81;
    border-bottom: solid 1px #b5b5b5;
    padding-bottom: 4px;
    margin-bottom: 8px;
    display: block;}
.x1n8.p_AFCore.p_AFDefault, .x1n9.p_AFCore.p_AFDefault, .x1n8.p_AFHighlight.p_AFDefault {
    background-color: #FFFFFF;
    border: solid 1px #DFDFDF;
    border-radius: 5px;
    box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.3);
    padding: 30px;
    height: auto;
    color: #D63073;
    width: 92%;
}
.xni.xp7{border:none}
.x5s.p_AFCore.p_AFDefault span{color: #712C81;font-size: 22px;text-transform: uppercase;font-weight: normal;}

.topPartInfo {background-color: #FDF9FD;border-radius: 5px;}

.x5s.p_AFCore.p_AFDefault span{color: #712C81;font-size: 19px;text-transform: uppercase;font-weight: normal;}
.x5s.p_AFCore.p_AFDefault table a {background:#712c81;font-size:13px;display: block;padding: 18px 10px;border-radius: 5px;color: #fff;text-decoration: none;transition:all ease 300ms}
.x5s.p_AFCore.p_AFDefault table a span{color:#fff;font-size:15px}
.x5s.p_AFCore.p_AFDefault table a:hover{background:#da407f;}
.x1f9 {

    background-color: #da407f;
    border-radius: 0px;
    border: 1px solid #da4280;
    color:#ffffff;
}


div.xe8,div.xe8:hover{border:none;background:none;}

div.xe8{border:none;background:none;}
.x1ju, .xej{border-radius: 5px;}
.x1jx, .x1jy, .x1jv, .x1jw, .x1jz, .x1k0, .x1kb,.x1k9, .x1kd{border-color:#b5b5b5;}
.xim, .xin{border:solid 3px #b5b5b5;border-radius:5px}
.x1et, .x1kl{color:#da417f;font-size:18px;text-transform: uppercase;}
.x2fv{color: #d73f7d;font-family: 'stc',arial,sans-serif !important;font-size: 14px;}
.xqv{border-radius: 5px;margin-top:10px;}
.x1kp a{border:solid 1px #b5b5b5;border-radius:50%;width:25px;height:25px;padding:0;text-decoration: none;text-align: center;transition: all ease-in-out 300ms;color: #da4584;font-size: 19px;}
.x1kp a img{display:none;}
.x1kp a:before{
    content:'\f00d';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    margin-top: 3px;
}
.x1kp a:hover{color: #fff !important;background: #da4584;}
.x166, .x167{width:400px !important;max-width: 500px !important;}

.xp8, .xp9, .xpa {line-height:20px;    font-size: 16px;}


nav a:hover,
nav a:focus {
    outline: none;
}

#MainMenu li a::before {
    background-color: transparent;
}

#MainMenu li a:hover::before {
    background-color: #efac2a;
}
/* Hover Effect for the main menu*/
#MainMenu li a {
    /* padding: 12px 10px 10px; */
    /* color: #566473; */
    text-shadow: none;
    /* font-weight: 700; */
}

#MainMenu li a::before,
#MainMenu li a::after {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #efac2a;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    transform: scale(0.65);
}

#MainMenu li a::after {
    opacity: 0;
    -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

#MainMenu li a:hover::before,
#MainMenu li a:hover::after,
#MainMenu li a:focus::before,
#MainMenu li a:focus::after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

#MainMenu li a:hover::after,
#MainMenu li a:focus::after {
    top: 85%;
    opacity: 1;
}
#MainMenu li a::before {
    background-color: transparent;
}


/*:lang(en) .mainHeaderLinks{margin-left: 109px;}
:lang(en) div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de:nth-of-type(2) div a{position: absolute; margin-left: -455px;}




:lang(ar) .mainHeaderLinks{margin-right: 160px;}
:lang(ar) div.xhi table.x126 div.x2dw div.xv0 table tr td.x1de:nth-of-type(2) div a{position: absolute; margin-right: -470px;}
*/


:lang(ar) .drawerPadding, .x2dx, .xo6.x2dy.p_AFStartTabs.p_AFIconified .x1ba, .xo6.x2dy.p_AFLeftTabs.p_AFIconified .x1ba, .xo6.x2dy.p_AFRightTabs.p_AFIconified .x1ba, .xo6.x2dy.p_AFEndTabs.p_AFIconified .x1ba {
    padding-right: 0px;
    padding-left: 45px;
}

.x7j, .x7k, .portlet-form-button, .xd4 {font-family: "Conv_STC-Regular",arial, sans-serif !important}
.bodyContent .x1mb a.x1mg.p_AFSelected  {background: #712c81;border-radius: 5px;display: block;color: #fff;}
.bodyContent .x1mb a.x1mg.p_AFSelected .x1mi  {
    margin-top: 10px;
}
.bodyContent .x1mb a.x1mg.p_AFSelected .p_AFSelected  {color: #fff;}

:lang(ar) .InfoTileSelectorV, .xkz {    left: 0;
    right: auto;}
    
    :lang(ar) .InfoTileSelectorV, .xkz a img {transform: rotate(180deg);}
.user_img{
    border-radius: 50px;
    width: 80px !important;
    height: 80px !important;
}
:lang(ar)  .iconHomeAr{
    display: inline-block;
    margin-left: 6px;
}

/*.bodyContent .x15d {
    display: table;
    width: 100%;
}
 .bodyContent .x15d .x10x{
    display: table-row;
}
.bodyContent .x15d .x10x div:nth-of-type(1){
    width: 20% !important;
    display: table-cell !important;
    border-left: solid 10px #f2f2f2;
}
.bodyContent .x15d .x10x div:nth-of-type(2){
    display: table-cell !important;
    width: 70% !important;
    position: relative !important;
}